<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- HTML Meta Tags -->
        <title>Let's Code Here- Tan Moy Deyashi</title>
        <meta name="author" content="Tan Moy Deyashi" />
        <meta name="description" content="Let's Code Here- Tan Moy Deyashi">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="http://iamtanmoy.herokuapp.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Let's Code Here- Tan Moy Deyashi">
        <meta property="og:description" content="">
        <meta property="og:image" content="http://iamtanmoy.herokuapp.com/assets/icon/icon.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="iamtanmoy.herokuapp.com">
        <meta property="twitter:url" content="http://iamtanmoy.herokuapp.com/">
        <meta name="twitter:title" content="Let's Code Here- Tan Moy Deyashi">
        <meta name="twitter:description" content="Let's Code Here- Tan Moy Deyashi">
        <meta name="twitter:image" content="http://iamtanmoy.herokuapp.com/assets/icon/icon.png">

        <link rel="icon" type="image/x-icon" href="../assets/icon/icon.ico" />
        
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
       
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.min.css" rel="stylesheet" />
        <!--script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3157763941172168" crossorigin="anonymous"></script-->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/index">Tan Moy Deyashi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/index">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>