{{> partial/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>About Me</h1>
                  <span class="subheading">This is what I do.</span>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <p class="m-1"><i class="fa fa-user"></i> Tan Moy Deyashi</p>
              <p class="m-1"><i class="fab fa-node-js"></i> Software Programmer</p>
              <p class="m-1"><i class="fa fa-envelope"></i> <a href="mailto:tanmoy12deyashi@gmail.com"> tanmoy12deyashi@gmail.com</a></p>
              <p class="m-1"><i class="fab fa-npm"></i> <a href="https://www.npmjs.com/~tanmoy12deyashi" target="_blank"> Tan Moy Deyashi</a></p>
              <p class="m-1"><img src="https://img.icons8.com/material-rounded/24/000000/linkedin--v1.png"/> <a href="https://www.linkedin.com/in/tanmoy-deyashi-yob1997/" target="_blank"> Tan Moy Deyashi</a></p>

              <p>Software Programmer with two years of experience in coding, testing and establishing system improvements. Equally at home with software development for PCs, online environments, and mobile devices. And also create a lightweight npm package (<i><a href="https://www.npmjs.com/package/easydatetimeformat" target="_blank">easydatetimeformat</a></i>) for formatting Date & Time</p>

              <p>Skills: Node.js, Express.js, MongoDB, Elasticsearch, HTML5, CSS3, Vanilla Js, jQuery, Bootstrap, UIkit, PHP, Mysql</p>
              <p>Others: Git, Github, PWA Application, Socket.IO, Workflow Applications</p>
          </div>
      </div>
  </div>
</main>

{{> partial/footer}}