{{> partial/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>About Me</h1>
                  <span class="subheading">This is what I do.</span>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="m-1"><i class="fa fa-user"></i> Tan Moy Deyashi</p>
                <p class="m-1"><i class="fab fa-node-js"></i> Software Programmer</p>
                <p class="m-1"><i class="fa fa-envelope"></i> <a href="mailto:tanmoy12deyashi@gmail.com"> tanmoy12deyashi@gmail.com</a></p>
                <p class="m-1"><i class="fab fa-npm"></i> <a href="https://www.npmjs.com/~tanmoy12deyashi" target="_blank"> Tan Moy Deyashi</a></p>
                <p class="m-1"><img src="https://img.icons8.com/material-rounded/24/000000/linkedin--v1.png"/> <a href="https://www.linkedin.com/in/tanmoy-deyashi-yob1997/" target="_blank"> Tan Moy Deyashi</a></p>

                <p>Software Programmer with two years of experience in coding, testing and establishing system improvements. Equally at home with software development for PCs, online environments, and mobile devices. And also create a lightweight npm package (<i><a href="https://www.npmjs.com/package/easydatetimeformat" target="_blank">easydatetimeformat</a></i>) for formatting Date & Time</p>

                <p>Skills: Node.js, Express.js, MongoDB, Elasticsearch, HTML5, CSS3, Vanilla Js, jQuery, Bootstrap, UIkit, PHP, Mysql</p>
                <p>Others: Git, Github, PWA Application, Socket.IO, Workflow Applications</p>

                <p class="mb-2">Some of my completion certificates.</p>
                <ol>
                    <li class="mb-3"><mark>From AWS</mark>
                        <ul>
                            <li><a href="../assets/cert/aws/Introduction-to-AWS-Step-Functions.png" target="_blank">Introduction to AWS Step Functions&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                            <!--li><a href="https://www.aws.training/Transcript/CompletionCertificateHtml?transcriptid=CeuDcjkHG0ucbl2--0RN7w2" target="_blank">Migrating to AWS: A high level introduction&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i--><!--img src="https://img.icons8.com/metro/15/000000/external-link.png"/--><!--/a></li-->
                        </ul>
                    </li>
                    <li class="mb-3"><mark>From Google Digital Platform</mark>
                        <ul>
                            <li><a href="https://learndigital.withgoogle.com/link/1tb5mplmosg" target="_blank">Fundamentals of Digital Marketing&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a> (Credential ID: 4W5 ZLU P5A)</li>
                        </ul>
                    </li>
                    <li class="mb-3"><mark>From MongoDB University</mark>
                        <ul>
                            <li><a href="https://university.mongodb.com/course_completion/467c59cc-7611-40c7-8fba-d839f0c7d4dd" target="_blank">M001: MongoDB Basics&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                            <li><a href="https://university.mongodb.com/course_completion/da3ea406-3811-471d-8382-e83a46066dfa" target="_blank">M100: MongoDB for SQL Pros&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                        </ul>
                    </li>
                    <li class="mb-3"><mark>From Sololearn</mark>
                        <ul>
                            <li><a href="https://www.sololearn.com/certificates/course/en/21949139/1024/landscape/png" target="_blank">Javascript Course&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                            <li><a href="https://www.sololearn.com/certificates/course/en/21949139/1157/landscape/png" target="_blank">Python for Beginners&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                            <li><a href="https://www.sololearn.com/Certificate/1014-21949139/jpg/" target="_blank">HTML Course&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>

{{> partial/footer}}